---
import { getRockets } from "@/services/spacex";
import type { SpacexRocket } from "@/types/rockets/types";
import Layout from "@/layouts/Layout.astro";
import Content from "@/components/Content.astro";
import type { ComponentInstance } from "astro";
import Icon from "@/components/icons/Icon.astro";

interface Props {
  rocket: SpacexRocket;
}

// Generar rutes estàtiques per cada ID per pàgines dinàmiques afegint props i params
export async function getStaticPaths() {
  const rockets = await getRockets();
  return rockets.map((rocket) => ({
    params: { id: rocket.rocket_id },
    props: { rocket },
  }));
}

const { rocket } = Astro.props;
const active = rocket.active ? "Active" : "No Active";
---

<Layout title=`Rocket ${rocket.rocket_name}`>
  <Content title={rocket.rocket_name}>
    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      {
        rocket.flickr_images && (
          <img
            class="h-auto max-w-full rounded-lg"
            src={rocket.flickr_images[0]}
            alt=""
          />
        )
      }

      <div
        class="grid col-span-2 md:grid-cols-2 text-lg border-2 border-solid border-plom rounded-lg p-6">
        <p class="flex flex-col p-3-3">{rocket.description}</p>
        <div class="flex flex-col p-3 pl-6">
          <div class="flex gap-2 items-center">
            <Icon customClass="fill-white w-5" name="calendar" />
            First Flight: {rocket.first_flight}
          </div>
          <div class="flex gap-2 items-center">
            <Icon customClass="fill-white w-5" name="flag" />
            Country: {rocket.country}
          </div>
          <div class="flex gap-2 items-center">
            <Icon customClass="fill-white w-5" name="height" />
            Height: {rocket.height.meters} m
          </div>
          <div class="flex gap-2 items-center">
            <Icon customClass="fill-white w-5" name="weight" />
            Mass: {rocket.mass.kg} Kg
          </div>
          <div class="items-center justify-center"><span>{active}</span></div>
        </div>
      </div>
    </div>
  </Content>
</Layout>
